<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
    ">
	<bean id="contentNegotiationManager"
		class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
		<property name="ignoreAcceptHeader" value="true" />
		<property name="favorPathExtension" value="true"/>
		<property name="useJaf" value="false" />
		<property name="defaultContentType" value="text/plain"/>
		<property name="mediaTypes" >
			<map>
				<entry key="txt" value="text/plain"/>
				<entry key="html" value="text/html"/>
				<entry key="xml" value="application/xml"/>
				<entry key="json" value="application/json"/>
				<entry key="xsl" value="application/vnd.ms-excel"/>
			</map>
		</property>
	</bean>

	<context:component-scan base-package="org.yihang.controller" />

	<mvc:annotation-driven
		content-negotiation-manager="contentNegotiationManager">
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<constructor-arg index="0" value="utf-8" /> 
				<property name="writeAcceptCharset" value="false" />
			</bean>
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"></bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<mvc:resources mapping="/static/**" location="/static/" />

	<mvc:default-servlet-handler />

	<mvc:view-resolvers>
		<mvc:jsp prefix="/WEB-INF/jsp/" />
		<mvc:content-negotiation use-not-acceptable="true"/>
	</mvc:view-resolvers>
</beans> 